dataset/
TFM/code_dataset2/datos/
.DS_Store
TFM/code/.DS_Store
TFM/code/dataset/.DS_Store
TFM/code_dataset2/utils/__pycache__/
TFM/code/.DS_Store
TFM/code/dataset/.DS_Store
TFM/code_dataset2/experimentos_split/results/
